/* style.css */
body {
    font-family: 'Syncopate', 'Roboto', sans-serif;
    color: #333;
    line-height: 1.7;
    background: linear-gradient(135deg, #e0f2f7, #cce0e5);
    margin: 0;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
    background-color: #121212;  /* Dark background color */
    color: #e0e0e0;
    transition: background-color 0.53s ease, color 0.3s ease;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Noto Sans', 'Montserrat', sans-serif;
    color: #FBFBFB;
    font-weight: 600;
}

/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;}

::-webkit-scrollbar-track {
    background: #f1f1f1;}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;}

.dark-mode::-webkit-scrollbar-track {
    background: #1d191b;}

html {
    scrollbar-width: thin;
    scrollbar-color: #a67137 #1d191b;
}

/* cursor mods */
body,
a {
    cursor: none;
}

.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: #ffba08;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border: 20px solid rgba(3, 7, 30, 0.6);
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9998;
    transform: translate(-50%, -50%);
    transition: width 0.3s ease, height 0.3s ease, border-color 0.3s ease;
}

.link-grow {
    width: 55px;
    height: 55px;
    border: 20px rgba(76, 165, 255, 0.5);
    background-color: rgba(76, 165, 255, 0.5);
}

/* loading screen */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.loading-text {
    position: relative;
    color: #ffffff;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
}

.loading-text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: linear-gradient(90deg, #FDC830, #F37335);
    bottom: -8px;
    left: 0;
    animation: loading-bar 2s ease infinite;
}

@keyframes loading-bar {
    0% {
        width: 0%;}
    50% {
        width: 100%;}
    100% {
        width: 0%;}
}

/* .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffc06e;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
} */

/* Header */
.site-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand {
    color: #F5F5F5;
    font-family: Cinzel Decorative, Poppins;
    letter-spacing: 5px;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 5px 10px;  /* Add padding for visual separation */
    border-radius: 5px;
    font-weight: 400;
}

.scroll-progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.scroll-progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(90deg, #FDC830, #F37335);
    transition: width 0.2s ease;
}
/* .dark-mode .navbar .navbar-brand {
    color: #F5F5F5;
} */

.nav-item{
    font-family: 'Poppins';
    font-size: 1.1rem;;
}
.nav-link.active {
    color: #ffffff;
    font-weight: bold;
}

.navbar-dark-mode .navbar-nav .nav-link {
    color: #3a3535;
    transition: color 0.3s ease;
    background-color: white;
}

.navbar-dark-mode .navbar-nav .nav-link:hover {
    color: #272020;

}

.dark-mode .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    text-shadow: 0 0 3px #fff;
    /*3 pixels of white glow during night mode*/
}

.dark-mode .navbar {
    background-color: rgba(18, 18, 18, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar {
    transition: background-color 0.3s ease, padding 0.3s ease;
    padding: 20px 0;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.9) !important;
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.navbar-brand:hover::after {
    width: 100%;
}

.nav-link {
    position: relative;
    padding: 8px 0;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: linear-gradient(90deg, #FDC830, #F37335);
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-link:hover::before, .nav-link.active::before {
    width: 100%;
    left: 0;
}

/* Toggle Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    padding: 3px;
    margin-top: 6px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffc06e;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 0;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #333;
}

input:focus+.slider {
    box-shadow: 0 0 1px #232323;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.moon-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    transition: opacity 0.3s ease;
    opacity: 1;
    width: 14px;
    height: 14px;
    z-index: 10;
    left: 10%;
}

input:checked+.slider .moon-icon {
    opacity: 1;
}

.sun-icon {
    position: absolute;
    color: #ffffff;
    transition: opacity 0.3s ease;
    opacity: 1;
    width: 14px;
    height: 14px;
    padding-top: 2px;
    right: 10%;
}

input:checked+.slider .sun-icon {
    opacity: 0;
}

/* Hero Section */
.hero-content {
    position: relative;
    z-index: 2;
}

.hero-overlay {
    z-index: 1;
}

.hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-image: url('images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'poppins, Arial';
    font-weight: 400; /* Parallax effect */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.hero-section.dark-mode .hero-overlay {
    filter: brightness(0.9);
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    z-index: 1;
    position: relative;
}

.hero-content p {
    font-size: large;
    font-family: "PT Mono", 'montserrat', sans-serif;
}

.namskara {
    color: rgb(255, 192, 110);
    font-family: 'WagonXLight', 'Roboto', sans-serif;
    font-size: 64px;
}

/* .hero-section .hero-content #jobProfile {
    font-family: 'VercettiRegular', monospace;
} */

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn-primary {
    background-color: #A31621;
    color: #FCF7F8;
    border-color: #8E1616;
}

.btn-primary:hover {
    border-color: #A31621;
    background-color: #8E1616;
}

#midbut{
    font-family: 'Montserrat','Poppins',monospace;
}

/* Sections */
.section {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.section.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

/* About Section */
.about-section {
    background: linear-gradient(135deg, #FFF9EC, #FFF3E0);
    color: #4A4A4A;
    font-family: Helvetica, Arial, sans-serif;
    font-size: large;
    padding: 120px 0;
}

.about-section.dark-mode {
    background: linear-gradient(135deg, #575555, #202020);
    transition-duration: 200ms;
}

.about-section h2 {
    font-size: 2.5rem; 
    margin-bottom: 20px;
    color: #4A4A4A;
    transition: ease;
    transition-duration: 0.3s;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr; /* grid layout */
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px    /* Add gap between grid items */
}

.profile-image-container {
    overflow: hidden;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-right: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    transition: transform 0.45s ease;
    justify-self: center;
}

.profile-image-container:hover {
    transform: scale(1.05);
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark-mode .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    max-width: 600px;
}

.about-text h2 {
    font-family: 'nevis', 'Poppins', Arial;
}

.dark-mode .about-text h2 {
    font-size: 2.5rem;  /* Increase heading size */
    margin-bottom: 20px;
    color: #ffffff;
    transition: ease;
    transition-duration: 0.3s;
}

.about-text p {
    line-height: 1.8;   /* for gap between lines */
    margin-bottom: 30px;
    transition: ease;
    transition-duration: 0.1s;
}

.social-links a {
    font-size: 1.8rem;
    margin-right: 15px;
    transition: transform 0.3s ease;
}

.social-links a:hover {
    transform: translateY(-5px); }

.linkedin-link {
    color: #0077B5; }

body .github-link {
    color: #333;
    transition: color 0.3s ease; }

body.dark-mode .github-link {
    color: #FFFFFF;
    transition: color 0.3s ease; }

.discord-link {
    color: #5865F2; }

/* Skills Section */
.skills-section {
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    padding: 100px 0;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 50px;
    font-family: 'nevis', 'montserrat', 'poppins', sans-serif;
    font-size: 2.5rem;
    color: #333;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.skill-bar {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-bar:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skill-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.skill-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #333;
}

.skill-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
}

.skill-level {
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.skill-level::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #4ca5ff;
    border-radius: 5px;
    animation: fillSkill 2s ease-in-out forwards;
}

@keyframes fillSkill {
    to {
        width: var(--skill-level);
    }
}

/* Dark Mode */
.dark-mode .skills-section {
    background: linear-gradient(135deg, #1c1b1b, #121212);
}

.dark-mode .skills-section h2 {
    color: #fff;
}

.dark-mode .skill-bar {
    background-color: #333;
}

.dark-mode .skill-name,
.dark-mode .skill-icon {
    color: #fff;
}

.dark-mode .skill-level {
    background-color: #444;
}

/* Projects Section */
.projects-section {
    background: linear-gradient(135deg, #cfd9df , #e2ebf0);
    font-family: Poppins, sans-serif;
}

.projects-section .container h2 {
    font-family: 'Nevis', 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #333;
}

.projects-section.dark-mode {
    background: linear-gradient(135deg, #3e3e3e, #282828);
}

.project-card {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.project-card.dark-mode {
    background-color: #939393;
    color: #e0e0e0;
}

.project-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
}

.project-name {
    color: #fff;
}
.project-details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 20px;
}

.project-details h3 {
    margin-bottom: 15px;
}

.project-card:hover .project-details {
    opacity: 1;
}

/* Contact Section */
.contact-section {
    background: linear-gradient(135deg, #F0F8FF, #E0FFFF);
    transition: ease;
    transition-duration: 0.5s;
    font-family: Poppins, arial;
}

.dark-mode .contact-section {
    background: linear-gradient(135deg, #282C34, #1E293B);
}

.contact-section h2 {
    color: #000;
}

.contact-section .container h2 {
    font-family: 'nevis', 'Poppins', sans-serif;
}

.dark-mode .contact-section h2 {
    color: white;
}

#contactForm .form-control {
    border-radius: 10px;
    padding: 18px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

#contactForm .btn-primary {
    border-radius: 10px;
    padding: 18px 25px;
    font-weight: 600;
    background-color: #17a2b8;
    border-color: #007bff;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

#contactForm .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Footer */
.site-footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 30px 0;
    font-family: 'poppins', sans-serif;
    transition: color 0.3s ease;
}

.site-footer a:hover {
    color: #ffc06e;}

.contact-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    padding: 0 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact-footer p {
    margin: 0;
    text-align: center;
}

.social-links {
    display: flex;
    align-items: center;
    margin-left: 12px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .hero-section {
        background-position: center top;
        height: 100vh;
    }

    .about-content {
        grid-template-columns: 1fr; /* Stack on smaller screens */
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    
    .profile-image-container {
        margin: 0 auto 30px;    /* Center image on smaller screens */
        justify-self: center;
    }
    
    .skills-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    
    .cursor-dot,
    .cursor-outline {
        display: none;
    }

    .skill-name{
        overflow: hidden;
        font-size: 0.85rem;
    }
}

/* animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    
    to {
        opacity: 1;
        transform: translateY(0);
    }
}